<section class="business_new">

  <div class="container">
      <div class="business_new_wrapper mg_top">

        <%= render 'form', business: @business %>
        <%= link_to 'Back', businesses_path %>
      
      </div>
    
  </div>

</section>


