<h1>Businesses#show</h1>
<h1><%= @business.business_name%></h1>
<%= link_to 'Delete', @business, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Edit', edit_business_path(@business) %> 
