<div class="business_card_footer">
  <div class="business_card_addresses">
    <div class="__addresses_continent"><%= add.continent.capitalize%></div>
    <div class="__addresses_country"><%= add.country%></div>
    <div class="__addresses_city"><%= add.city%></div>
  </div>
</div>