<div class="business_card_footer">
  <div class="business_card_addresses">
    <div class="__addresses_continent"><%= add.continent.capitalize.truncate(8)%></div>
    <div class="__addresses_country"><%= add.country.truncate(8)%></div>
    <div class="__addresses_city"><%= add.city.truncate(12)%></div>
  </div>
</div>