<h2>My Businesses</h2>

<%@business.each do |business| %>
<p>
<%= link_to business.business_name ,business%>
 <% if policy(business).edit? %>
  <%= link_to 'Delete', business, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%end%>
  <% if policy(business).destroy? %>
  <%= link_to 'Edit', edit_business_path(business) %>)  
  <%end%>
</p>
<%end%>

<p>
<h2>My Favorite Business(s)</h2>
</p>