<h1>

<%= @user.first_name%>
</h1>
<p>
  <%@user.roles.each do |role|%>
   <p><%=role.name%></p>
  <%end%>
<br>
<% if policy(@user).update? %>
<%=link_to 'Edit Roles',edit_user_path(@user)%> <br>
<%end%>
</p>