
      <section class="footez">
          
            <div class="l-footez">
              <h1><img src="https://i.postimg.cc/y62wcLBq/logo.png" alt=""></h1>
                <p>Our mission is to allow black owned businesses to search and connect with each other. 
                This is in order to improve our communities, build, and work together. We 
                provide a search engine and various features for us to build and connect on (GBBDB). 
                Our service is unlike any other black database website's searching experience.</p>
            </div>
            <!-- left footer -->
              <ul class="left-footez">
                <li>
                  <h2>legal</h2>
                  <ul class="box">
                  <li><a href="terms_of_use">Terms Of Use</a></li>
                    <li><a href="ppolicy">Privacy Policy</a></li>
                <li><a href="deals">Deals</a></li>
              </ul>
                </li>
              <!-- middle footer -->
              <li class="middle-footez">
                <h2>Need Help?</h2>
              <ul class="box h-box">
                  <li><a href="help">Help Center</a></li>
                  <li><%= link_to 'Contact Us', new_contact_path%></li>
                </ul>
              </li>

              <li>
                <!-- bottom footer -->
                <h2>Community</h2>
                  <ul class="box">
                    <li><a href="aboutus">About Us</a></li>
                    <li><a href="partnerships">Partnerships</a></li>
                    <li><a href="affiliates">Affiliates</a></li>
                    <li><a href="careers">Careers</a></li>
                  </ul>
              </li>
            </ul>
            <!-- bottom footer -->
            <div class="b-footez">
              <p>Copyright GBBDB 2021 </p>
            </div>
</section>
