<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.header {
  background-color: #ffffff;
  color: #000000;
  padding: 15px;
}

.tabz ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tabz li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #cccccc;
  color: #000000;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.tabz li:hover {
  background-color: #67c074;
}

.aside {
  background-color: #3f3e3e;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.footer {
  color: #000000;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}

/* For desktop: */
.col-1 {width: 30%;}
.col-2 {width: 40%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
</style>
</head>
<body>

<div class="header">
  <h1>Account Assistance</h1>
</div>

<div class="row">
  <div class="col-1 tabz">
    <ul>
    <li>How does my general account information work?</li>
    <li>Issues creating an account</li>
    <li>Issues with my account</li>
    <li>Trouble logging in</li>
    <li>How do I update my profile?</li>
    <li>How do I verify my account?</li>
    <li>How do I change my password or email address</li>
    <li>Can I have multiple business and user accounts?</li>
    <li>How do I claim my listed business?</li>
    <li>How to cancel my account</li>
    <li>What is follow?</li>
    </ul>
  </div>

  <div class="col-2">
    <h1>What do you gain from having an account with us?</h1><br>
    <p>By creating an account you gain access to many of our features and deals. This includes shares, partnerships,
    contracts, job opportunites, and much more. Start here and get familiar with all the options you will have by
    being a registered user, and registered business owner. If you happen to have any issues, you can come here to
    learn how to manage your account.</p>
  </div>

  <div class="col-1 right">
    <div class="aside">
      <h2>Shares</h2>
      <p>Current shares and updated shares can be here</p>
      <h2>News</h2>
      <p>Current news and updated news can be here</p>
      <h2>Ads</h2>
      <p>Current advertisements of a business can be here, lets decide and pick one</p>
    </div>
  </div>
</div>

<div class="footer">
  <p></p>
</div>

</body>
</html>