<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-1"] {
  float: left;
  padding: 15px;
}

[class*="col-2"] {
  float: left;
  padding: 15px;
}

[class*="col-3"] {
  padding: 15px;
  float: right;
}

.header {
  background-color: #ffffff;
  color: #000000;
  padding: 15px;
}

.tabz ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tabz li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #cccccc;
  color: #000000;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.tabz li:hover {
  background-color: #67c074;
}

.aside {
  background-color: #3f3e3e;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.footer {
  color: #000000;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}

/* For desktop: */
.col-1 {width: 25%;}
.col-2 {width: 25%;}
.col-3 {width: 30%;}


@media only screen and (max-width: 768px){
  /* For mobile phones: */
  [class*="col-"]{
    width: 100%; 
  }
}
</style>
</head>
<body>

<div class="header">
  <h1>Buisness Deals & Features</h1>
</div>

<br><br>
  <div class="row">
  <div class="col-1 tabz">
     <ul>
     <h1>Business Deals</h1>
     <li>Shares</li>
     <li>Contracts</li>
     <li>Partnerships</li>
     <li>Jobs</li>
     </ul>
  </div>

  <div class="row">
  <div class="col-2 tabz">
     <ul>
     <h1>Features</h1>
     <li>Points features</li>
     <li>User profile features</li>
     <li>Business profile features</li>
     <li>Browsing features</li>
     <li>Business searching features</li>
     </ul>
  </div>

  <div class="col-3 tabz">
    <div class="aside">
      <h2>Shares</h2>
      <p>Current shares and updated shares can be here</p>
      <h2>News</h2>
      <p>Current news and updated news can be here</p>
      <h2>Ads</h2>
      <p>Current advertisements of a business can be here</p>
    </div>
  </div>

</div>

</div>

  <div class="footer">
  </div>
  
</body>
</html>