<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.header {
  background-color: #ffffff;
  color: #000000;
  padding: 15px;
}

.tabz ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tabz li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #cccccc;
  color: #000000;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.tabz li:hover {
  background-color: #67c074;
}

.aside {
  background-color: #3f3e3e;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.footer {
  color: #000000;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}

/* For desktop: */
.col-1 {width: 30%;}
.col-2 {width: 40%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
</style>
</head>
<body>

<div class="header">
  <h1>General Help</h1>
</div>

<div class="row">
  <div class="col-1 tabz">
    <ul>
    <li>The Global Black Business Database</li>
    <li>Searching the database</li>
    <li>Setting up an account</li>
    <li>What are shares?</li>
    <li>Latest news</li>
    <li>Company statistics</li>
    <li>Site benefits</li>
    </ul>
  </div>

  <div class="col-2">
    <h1>Welcome newcomers and returning users!</h1><br>
    <p>If you are new to this site and or still learning. We can guide you easily here. This page will simplify your
    progress on utilizing our site to the best of your abilities. Start by reading about 
    "The Global Black Buisness Database," by clicking on the tab to your left or above for mobile phone users. Once that process is completed, work your way 
    down by reading "Searching the database." We hope that our service helps you advance at a business and consumer standpoint.</p>
  </div>

  <div class="col-1 right">
    <div class="aside">
      <h2>Shares</h2>
      <p>Current shares and updated shares can be here</p>
      <h2>News</h2>
      <p>Current news and updated news can be here</p>
      <h2>Ads</h2>
      <p>Current advertisements of a business can be here, lets decide and pick one</p>
    </div>
  </div>
</div>

<div class="footer">
  <p></p>
</div>

</body>
</html>