
    <%= form_tag(businesses_path,id: 'search_business_form', method: "get") do %>
      <input type="text" class="search_box" name="search" value="<%= params[:search] %>" placeholder="search for a business">
            <button type="submit">Search</i></button>
    <% end %>

