<div class="tabs__content" data-tab="3">
    <h2>Project</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Quaerat blanditiis natus quod iusto sint vitae eligendi,
    </p>
</div>