.business_new_wrapper{
  background-color: #fff;
  padding: 20px;

  @include wider-than(large){
    padding: 30px;
  }
}
.business_step_media_wrapper,
.business_step_basic_wrapper,
.business_step_category_wrapper,
.business_step_address_wrapper{
  background-color: #fff;
  padding: 20px;
  h1{
    font-size: 1.8em;
    //text-align: center;
  }
  @include wider-than(large){
    padding: 30px;
  }
}

.field_update{
padding: 8px;
  text-align: center;
}
.__control_bottoms{
  margin-top: 8px;
  display: flex;
  justify-content: center;
  div{
    margin-right: 8px;
  }
  @include wider-than(large){
    margin-top: 18px;
  }
}
.__first_bottom{
  background-color: $lighter_gray;
  border-radius: 5px;
  &:hover{
    background-color: $light_gray;
    cursor: pointer;
  }
}

.__skip{
  display: flex;
  align-items: center;
  padding: 0 3px;
  .span_label{
    font-size: .7em;
  }
  .span_icon{
    padding-top: 2px;
  }
  div{
    padding-right: 2px;
    align-items: center;
  }
}

.__media_wrapper{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.logo{
  max-width: 500px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  border: 1px dotted $light_gray;
  flex-grow: 1;
  img{
    height: 100%;
    width: 100%;
  }
}

.wrapper {
  width: 100%;
}

.progress-bar {
  width: 100%;
  background-color: $light_gray;
  //padding: 3px;
  border-radius: 3px;
  //box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}

.progress-bar-fill {
  position: relative;
  display: block;
  height: 22px;
  background-color: $bg_success;
  border-radius: 3px;
  transition: width 500ms ease-in-out;
  span.percent{
    color: #fff;
    width: 100%;
    position: absolute;
    font-weight: 600;
    text-align: center;
    top: 4px;
  }
}

.about_company_details{
  padding-bottom: 10px;
  border-bottom: 1px solid $lighter_gray;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.nested-fields{
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  div:last-child{
    a{
    padding: 6px;
    color: $bg_danger;
    border-bottom: 1px solid $bg_danger;
   
    }
  }
  .field{
  margin: 8px 0;
  padding-left: 2px;
  width: 40%;
  flex-grow: 1;
  }

}
