@import 'default';


.btn, button,input[type=submit]{
  box-sizing: border-box;
  text-transform: uppercase;
  font-size: .9em;
  cursor: pointer;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;

}

.btn-xs{
  padding: 7px 10px;
}

.btn-default {
  color: #ffffff;
  background-color: $light_gray;

  &:hover {
      background-color: $font_color;

  }
}

.btn-dark{
  color: #fff;
  background-color: $dark;
  &:hover {
     background-color: $font_color;

   }
}

.btn-info{
  color: #fff;
  background-color: $bg_info;
  &:hover{
    background-color: #3498db;
  }
}

.btn-success{
  color: #fff;
  background-color: $bg_success;
  &:hover{
    background-color: #2ecc71;
  }
}

.btn-full{
  width: 100%;
}