@import 'colors';

.checkbox{
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.checkbox__input{
  display: none;
  &:checked + .checkbox__box{
    background: $bg_success;
    border-color: $bg_success;
  }
}

.checkbox__box{
  width: 1.8em;
  height: 1.8em;
  border: 1px solid $bg_success;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border-radius: 3px;
  flex-shrink: 0;
  transition: background 0.15s, border-color 0.15s;

  &::after{
    content: '\2714';
    color: $white;
  }
}

