@import "colors";

section.confirmation{
    height: 100%;
}
.center_placement{
    height: 100%;
    display: grid;
    place-content: center;
   
}

.conformation_links{
   background-color: #fff;
   padding: 20px 30px;
 
}
.field_with_errors input {
input[type=text],input[type=number],input[type=email],input[type=password],input[type=date] ,select ,textarea{
    border-color: $bg_danger;
}
}

.field_img{
   width: 100px;
   height: 100px;
    img{
        height: 100%;
        object-fit: cover;

    }
}
h3.space_title{
margin: 10px 0;
padding: 10px 0;
}
.badge_danger , .badge_success{
    padding: 0 3px;
    margin-bottom: 5px;
    border-radius: 5px;
    color: #fff;
    border-radius: 5px;
    font-weight: 600;
}
.badge_success{
    background-color: $bg_success;
}
.badge_danger{
    background-color: $bg_danger;
}
 i{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }


 a{
     text-decoration: none;
     text-transform: capitalize;
     color: $font_color;
 }
 input[type=submit]{
     background-color: $bg_success;
     color: $white;
     -webkit-appearance: none;
 }
 input[type=text],input[type=search],input[type=number],input[type=email],input[type=password],input[type=date] ,select ,textarea{
    width: 100%;
    padding: 12px 20px;
    color: $font_color;
    margin: 8px 0;
    border: 1px solid $light_gray;
    display: inline-block;
    font-family: 'Montserrat',sans-serif;
    border-radius: 4px;
    box-sizing: border-box;
    background: #fff;
    -webkit-appearance: none;
  }
//   input[type=text]{
//     background: #fff;
//   }
//   input[type=email],input[type=password]{
//     background: $lighter_gray;
//   }

.alert{
    padding: 10px;
    color: #fff;
}

.alert-danger{
    background-color: $bg_danger;
}

p.center{
    text-align: center;
  }
  input:focus{
     // outline: none;
  }
 input{
    outline: $light_gray;
 }
  input.login{
      width: 60%;
  }
.caps{
    text-transform: uppercase;
}

.custom-file-input {
    color: transparent;
  }
  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: 'Select file to upload';
    font-family: 'Montserrat',sans-serif;
    color: black;
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 15px 8px;
    outline: none;
    width: 90%;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-align: center;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }
  .custom-file-input:hover::before {
    border-color: black;
  }
  .custom-file-input:active {
    outline: 0;
  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
  }

 @mixin wider-than($point) {
    @if $point == large {
        @media screen and (min-width: 44em) { @content; }
    }

    @else if $point == medium {
        @media screen and (min-width: 34em) { @content; }
    }

    @else if $point == small {
        @media screen and (min-width: 24em) { @content; }
    }

    @else {
        @media screen and (min-width: $point) { @content; }
    }
}