$dark: #0f0f0f;
$font_color: #3C3C3C;
$light_gray: #6b6b6b;
$lighter_gray: #DFDFDF;
$bg_success: #27ae60;
$bg_danger: #c0392b;
$bg_info: #2980b9;
$white: #fff;


h3.space_title{
margin: 10px 0;
padding: 10px 0;
}
.badge_danger , .badge_success{
    padding: 0 3px;
    margin-bottom: 5px;
    border-radius: 5px;
    color: #fff;
    border-radius: 5px;
    font-weight: 600;
}
.badge_success{
    background-color: $bg_success;
}
.badge_danger{
    background-color: $bg_danger;
}
 i{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }


 a{
     text-decoration: none;
     text-transform: capitalize;
     color: $font_color;
 }
 input[type=submit]{
     background-color: $bg_success;
     color: $white;
     -webkit-appearance: none;
 }
 input[type=text],input[type=number],input[type=email],input[type=password],input[type=date] ,select ,textarea{
    width: 100%;
    padding: 12px 20px;
    color: $font_color;
    margin: 8px 0;
    border: 1px solid $light_gray;
    display: inline-block;
    font-family: 'Montserrat',sans-serif;
    border-radius: 4px;
    box-sizing: border-box;
    background: #fff;
    -webkit-appearance: none;
  }
//   input[type=text]{
//     background: #fff;
//   }
//   input[type=email],input[type=password]{
//     background: $lighter_gray;
//   }

p.center{
    text-align: center;
  }
  input:focus{
     // outline: none;
  }
 input{
    outline: $light_gray;
 }
  input.login{
      width: 60%;
  }
.caps{
    text-transform: uppercase;
}



 @mixin wider-than($point) {
    @if $point == large {
        @media screen and (min-width: 44em) { @content; }
    }

    @else if $point == medium {
        @media screen and (min-width: 34em) { @content; }
    }

    @else if $point == small {
        @media screen and (min-width: 24em) { @content; }
    }

    @else {
        @media screen and (min-width: $point) { @content; }
    }
}