@import 'default';
@import 'buttons';
@import 'tabs';
// headers
section.nav{
  -webkit-box-shadow: 0 8px 6px -6px $light_gray;
	-moz-box-shadow: 0 8px 6px -6px $light_gray;
	 box-shadow: 0 8px 6px -6px $light_gray;
   background-color: #fff;
}

h1.title{
  text-align: center;
  color: $white;
  font-size: 1.5em;
  text-shadow: rgb(168, 168, 168) 0.5px 0.5px;
  @include wider-than(large) {
    font-size: 3em;
   }
  
}
h1.title_dark{
  text-align: center;
  color: $dark;
  font-size: 2em;
  text-shadow: rgb(168, 168, 168) 0.5px 0.5px;
  @include wider-than(large) {
    font-size: 2em;
   }
}
//test_colors

.bg_test1{
  background-color: aqua;
}

.business_show_page__content{
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  @include wider-than(large) {
    grid-template-columns: 2fr 1fr;
    margin-top: 120px;
    gap: 20px;
   }
}
._show_page__content__left {
  background-color: #fff;
  padding: 10px;
  @include wider-than(large) {
    padding: 40px;
   }
}

._show_page__content__right{
  background-color: #fff;
  @include wider-than(large) {
   }
}
.__content__left__header{
  position: relative;
  height: 120px;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  img{
    width: 100%;
    height: 100%;
  }

  .__left__header__logo{
    position: absolute;
    background-color: #fff;
    top: 100px;
    left: 10px;
    padding: 5px;
    img{
      height: 60px;
      width: 60px;
      border-radius: 6px;
    }
    -webkit-box-shadow: 0px 3px 5px 0px rgba(158, 158, 158, 1);
    -moz-box-shadow: 0px 3px 5px 0px rgba(158, 158, 158, 1);
    box-shadow: 0px 3px 5px 0px rgba(158, 158, 158, 1);
    border-radius: 10px;
    @include wider-than(large) {
      top: 120px;
      left: 20px;
      img{
        height: 100px;
        width: 100px;
      }
     }
     
  }
  @include wider-than(large) {
    height: 160px;
   }
}

.__content__left_business_name{
  display: flex;
  justify-content: space-between;
  margin-left: 80px;
  padding: 6px 15px 6px 8px;
 
  h4{
    text-transform: capitalize;
    margin-bottom: -5px;

    span.small{
      font-weight: 400;
      background-color: $bg_success;
      font-size: .6em;
      padding: 0 4px;
    }

  }
  span{
    font-size: .7em;
    background-color: $lighter_gray;
    padding: 2px 4px;
    border-radius: 5px;
  }


  @include wider-than(large) {
    margin-left: 140px;
    padding: 10px 0;
    h4{
      font-size: 1.6em;
      margin-bottom: 1px;
    }
    span{
      font-size: .9em;
    }
   
   }
}
.mobile_only_botton{
  text-align: center;
  padding: 10px;
  margin-top: 10px;

  .btn-info{
    font-size: 1em;
    border-radius: 20px;
  }
}
  
.__content__right__header{
  border-bottom: 2px solid $lighter_gray;
  padding: 10px 0;
  h2{
    margin-left: 30px;
  }
}
section.header{
  background-color: $lighter_gray;
 }
 
 section.main{
 }

 section.footer{
 }
 section.business_search_area {
  background-color: $dark;
  position: relative;
  display: flex;
  place-items: center;
  justify-content: center;
  background-image: url(https://bbdbsamplesite.s3.eu-west-2.amazonaws.com/blackwallstreet.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  @include wider-than(large) {
   height: 40vh;
  }
 }

 .search{
  margin-bottom: 20px;
 
}

// Business Card
.top_header{
  padding-left: 50px;
  display: grid;
  background-color: aqua;
}
.business_card{
  background-color: $white;
  position: relative;
  display: grid;
  flex-direction: column;
  margin-bottom: 30px;
  margin: 2px;
  .business_card_body{
    display: flex;
    margin: 5px;
  }
  .business_card_addresses{
    display: flex;
    div:nth-child(2){
      flex-grow: 2;
      text-align: center;
    }
    div{
      flex-grow: 1;
    }
  }
  
}
.show__addresses{
  width: 200px;
  display: inline-block;
}
.ribbon {
  position: absolute;
  right: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: $bg_success;
  background: linear-gradient( $bg_success 0%, #27ae60 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid $bg_success;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid $bg_success;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid $bg_success;
  border-bottom: 3px solid transparent;
  border-top: 3px solid $bg_success;
}
.index_page_wrapper{
  margin-top: 60px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  @include wider-than(large) {
    grid-template-columns: 3fr 1fr;
    margin-top: 120px;
   }
}

.business_index_left{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: .8em;
  @include wider-than(large) {
    font-size: 1em;
    grid-template-columns: repeat(4, 1fr)
   }
}


.business_index_right{
  background-color: $white;
}

.new_header{
  display: flex;
  justify-content: space-between;
}
.business_index_right__body{
  display: flex;
  justify-content: space-between;
  div{
    width: 100%;
  }
  div:last-child{
    font-size: .9em;
  }
  li{
    padding: 6px 0;
    &:hover{
      text-decoration: underline;
    }
  }
  span{
   float: right;
   padding-right: 8px;
  }
}

.shares_div{
  display: flex;
  justify-content: space-around;
}
.__shares,.__new{
  padding: 10px 0;
  text-align: center;
  width: 100%;
  color: #FFF;

}
.__new{
  background-color: $font_color;
}
.__shares{
  background-color: $bg_success;
}
.__addresses_continent,
.__addresses_country,
.__addresses_city{
  padding: 5px;
}

.__addresses_continent{
  background-color: $dark;
  color: $white;
}
.__addresses_country{
  background-color: $light_gray;
  color: $white;
}
.__addresses_city{
  background-color: $lighter_gray;
  color: $dark;
}
.boolean_field{
  padding: 5px;
}
label.contain{
  background-color: #fff;
  padding: 8px;
  margin-left: 2px;
  border-radius: 5px;
}
.search_botton{
  margin-top: 10px;
}
 
  

.center{
  text-align: center;
}
.text_field{
  div:not(:last-child){
    padding-right: 2px;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  @include wider-than(large) {
    flex-direction: row;
  }
}

.navbar{
  display: flex;
  justify-content: space-between;
  
}
.menu{
 align-self: center;
}

.mobile_only{
  display: block;
  @include wider-than(large) {
    display: none;
  }
}

.no_mobile{
  display: none;
  @include wider-than(large) {
    display: block;
  }
}
.copy_right{
  text-align: center;
}

.nav_links{
  display: flex;
  justify-content: space-around;
  .nav_items{
    padding: 0 15px;
  }
}

section.index_page,section.register{
  display: grid;
  place-content: center;
  height: 100vh;
}

.registration_form{
  margin-bottom: 10px;
  background-color: #fff;
  padding: 20px;
  width: 80vw;

  @include wider-than(large) {
    width: 30vw;
  }
}

.register__head{
  text-align: center;
  padding: 10px ;
}
.devise_custom_links{
  a{
    color: $bg_info;
  }
  div{
    padding: 10px 0;
    text-align: center;
  }
}
section.login_page{
  display: grid;
  place-content: center;
  height: 100vh;
}
.login_page__wrapper{
  -webkit-box-shadow: 0px 3px 5px 0px rgba(158, 158, 158, 1);
  -moz-box-shadow: 0px 3px 5px 0px rgba(158, 158, 158, 1);
  box-shadow: 0px 3px 5px 0px rgba(158, 158, 158, 1);
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr;
  @include wider-than(large) {
    grid-template-columns: 3fr 2fr;
  }
  
}
.small_title{
  text-align: center;
}
.login_page__wrapper_form{
  width: 100%;
  padding: 0 15px;
  align-self: center;
  border: 1px solid $lighter_gray;
  
  div{
    padding: 7px 0;
  }
  a{
    font-size: 1em;
  }
  @include wider-than(large) {
    padding: 30px;
   
  }
}
.advert{
  height: 100%;
  display: flex;
  flex-direction: column;

  .advert_header{
    text-align: center;
    padding: 20px 50px;
  }
  .advert_body{
    padding: 10px;
    align-self: center;
    text-align: justify;
    p::first-letter {
      font-size: 200%;
      color: $bg_info;
    }
    p{
      max-width: 350px;
    }
    a{
      color: $bg_info;
    }
  }
}



.click ,.mobile_click{
  cursor: pointer;
}

.dropnav{
  width: 300px;
  right: 1px;
}
.mobile_menu{
  border-radius: 10%;
  right: 3px;
}

  .dropnav , .mobile_menu{
      z-index:999 ;
      -webkit-box-shadow: 0px 3px 5px 0px rgba(158, 158, 158, 1);
      -moz-box-shadow: 0px 3px 5px 0px rgba(158, 158, 158, 1);
      box-shadow: 0px 3px 5px 0px rgba(158, 158, 158, 1);
      padding: 20px;
      background-color: #ffffff;
      border: 1px solid $lighter_gray;
      top: 90px;
      position: absolute;
      display: flex;
      visibility: hidden;
      flex-direction: column;
      text-align: center;
      transition: 0.5s;
      opacity: 0;
      
      a{
          text-transform: capitalize;
          &:hover{
              opacity: .5;
              font-size: 1.2em;
              transition: 0.2s;
          }
      }

      ul>li{
          padding: 10px 0;
      }
      
      span{
          font-size: .6em;
      }
      ul::before{
          content: "";
          position: absolute;
          top: -15px;
          right: 25px;
          width: 30px;
          height: 30px;
          background: #fff;
          transform: rotate(45deg);
          @include wider-than(large) {
            right: 45px;
          }
      }
  }
  .dropnav.active{
      top: 80px;
      right: 0;
       visibility: visible;
       opacity: 1;
  }
  .mobile_menu.active{
    top: 80px;
       visibility: visible;
       opacity: 1;
  }


  // Divise links
  .devise_links{
    display: flex;
    justify-content: space-between;
    div{
      padding: 10px 3px;
    }
    a{
      text-transform: uppercase;
      font-size: .8em;
    }
  }
  .devise_confirmation{
    font-size: .8em;
    text-align: center;
  }