@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@200;400;600;700;800&family=Montserrat:wght@200;400;600;700&display=swap');
@import "selectize/dist/css/selectize";
@import "selectize/dist/css/selectize.default";
@import "./actiontext.scss";

$dark: #0f0f0f;
$font_color: #3C3C3C;
$light_gray: #6b6b6b;
$lighter_gray: #DFDFDF;
$bg_success: #27ae60;
$bg_danger: #c0392b;
$bg_info: #2980b9;
$white: #fff;
$bg_color: #e7e7e7;


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    ul{
        list-style: none;
    }
}

h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
    font-family: 'Baloo Bhai 2', cursive;
   
}

body{
    font-family: 'Montserrat',sans-serif;
    font-size: 14px;
    height: 100%;
    background-color: $bg_color;
    color: $dark;
}
.body_wrapper{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .1fr 6fr auto;
}
.container{
    height: 100%;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    padding: 0 15px;

}

label{
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 15px;
}

.field_with_errors {
    color: $bg_danger;
  }
  
  .field_with_errors input {
    border-color: $bg_danger;
    
  }

  #notice {
        .alert,.notice{
        padding: 5px;
        color: $white;
        text-align: center;
    }
    .alert{
        background-color: $bg_danger;
    }
    .notice{
        background-color: $bg_success;

    }
  }


 