@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@200;400;600;700;800&family=Montserrat:wght@200;400;600;700&display=swap');
@import "selectize/dist/css/selectize";
@import "selectize/dist/css/selectize.default";
@import "./actiontext.scss";


$dark: #292929;
$font_color: #3C3C3C;
$light_gray: #6b6b6b;
$lighter_gray: #DFDFDF;
$bg_success: #81dd81;
$bg_danger: #fa7575;
$bg_color: #e7e7e7;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    ul{
        list-style: none;
    }
}

h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
    font-family: 'Baloo Bhai 2', cursive;
   
}

body{
    font-family: 'Montserrat',sans-serif;
    font-size: 14px;
    height: 100%;
    background-color: $bg_color;
    color: $dark;
}
.body_wrapper{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .1fr 6fr auto;
}
.container{
    width: 100%;
    max-width: 1440px;
    margin: auto;
    padding: 0 15px;

}

label{
    font-weight: 600;
    margin: 10px 0;
}