
<h1>PRIVACY</h1> 
<p>Last updated May 10, 2021</p>

Welcome to the Global Black Business Database. We are a community storage space for black owned businesses all around the world.<br> 
It is our duty to stay committed in protecting your privacy and personal information. If you have any questions or concerns regarding<br> 
our privacy notice, please contact us at legal@gbbd.com</p> 

This Privacy Policy is a part of and is incorporated into the Terms of Use. All defined terms in this Privacy Policy can have the<br> 
meaning assigned to them in the Terms of Use. By accessing or using any of the Websites and the Services, you acknowledge and agree<br> 
that you have read and agree to be bound by this Privacy Policy.<p>

Upon visiting https://gbbd.com ("Website") All black businesses worldwide are listed. Those with a secured service bounded by law are<br>
businesses that are verified. Please read through this privacy notice in order for you to learn how we use the information we collect.<br>
GBBD reserves the right to add to, delete from and/or otherwise change this Privacy Policy at any time in its sole and absolute discretion.<br> 
To the maximum extent permitted by law, you are responsible for monitoring the Websites to determine if any changes have been made to the<br> 
Privacy Policy in the future. Access to and/or use of the Websites and/or the Services by you after the date of any such change shall be<br> 
considered to confirm your agreement to be bound by the Privacy Policy then in effect. By agreeing to the Terms of Use applicable to the<br> 
Websites at which this Privacy Policy is posted, you are also agreeing to be bound by this Privacy Policy. Unless otherwise indicated,<br> 
defined terms in this Privacy Policy shall have the same meaning assigned to them in the Terms of Use.
<p>
TABLE OF CONTENTS<br>

1.  How We Use Your Information<br>
2.  California Residents and Your Privacy Rights (reword "your privacy rights")<br>
3.  Your Business Logins and Varifications<br>
4.  How We Share Your Information<br>
5.  API'S, Google Maps, Geolocation Data, and Identifiers<br>
6.  Cookies and Other Technological Tracking<br>
7.  Discussions and Community Tools<br>
8.  Privacy Precautions<br>
9.  How We Protect Your Information<br>
10. Children’s Online Privacy Protection Policy<br>
11. California Consumer Privacy Act (CCPA) Privacy Notice<br>
12. Business Contracts/Deals<p>

1. How We Use Your Information. We use the information collected on the Websites for a variety of purposes, including, but not limited<br>
to running the Websites and the Services and contacting users and or other businesses for business purposes. The Websites and the Services may<br> 
also make available to other Registered Users information provided by you during registration, such as your name and business name. We may use<br> 
your information to communicate back to you, to update you on products, services and benefits, to personalize the Websites for you, to contact<br> 
you for brand, corporation and/or market research or to provide you with marketing information, newsletters, or other information we think would<br>
be of particular interest. In addition, if you make a purchase and or business deal on GBBD or any of the Websites, we may send you order and<br> 
shipping confirmation emails. We will always give you the opportunity to opt out of receiving<br> 
such materials. Non-Personal Data. In some cases, we may collect non-personal information. Examples of this type of information include the type<br> 
of Internet browser you are using, the type of computer operating system application software, and peripherals you are using and the domain name <br>
of the web site from which you linked to our Site. We use your information on an aggregated basis to do such things as operate our Websites, enhance<br> 
our Websites and sell and deliver advertising.<p>

2. California Residents and Privacy Rights<br>
Online Privacy Protection Policy for California Residents<p>

(“Shine the Light” Law)<p>

Effective as of January 1, 2005, California’s “Shine the Light” law (Cal. Civ. Code Sections 1798.80, et seq.) provides California residents with the<br> 
right to receive certain disclosures when personal information that has been collected online is shared with third parties for direct-marketing purposes.<p>

If you are a California resident and you provided personal information to GBBD through a website in the past, and/or if you do so in the future, you are<br> 
entitled to submit a request in writing to GBBD for a description of the information we may have provided to third parties. To submit your written request,<br> 
please send it to info@GBBD.us and put the following words in the subject line of the email: “California Privacy Request.”Within 30 days after receipt of<br> 
your request, we will send you a list of the categories of personal information disclosed to third parties during the immediately preceding calendar year,<br> 
along with the names and addresses of the third parties who actually received such information, if any. We reserve our right not to respond to requests<br> 
sent more than once in a calendar year.Please note that the California “Shine the Light” law does not cover all aspects of on-line information sharing,<br> 
and our policy relates only to information covered by the law.<p>

Your Privacy Rights. In some regions, such as the European Economic Area, you have rights that allow you greater access to and control over your personal <br>
information. You may review, change, or terminate your account at any time. In some regions (like the European Economic Area), you have certain rights under <br>
applicable data protection laws. These may include the right (i) to request access and obtain a copy of your personal information, (ii) to request<br> 
rectification or erasure; (iii) to restrict the processing of your personal information; and (iv) if applicable, to data portability. In certain circumstances,<br> 
you may also have the right to object to the processing of your personal information. To make such a request, please use the contact details provided below. <br>
We will consider and act upon any request in accordance with applicable data protection laws. If we are relying on your consent to process your personal <br>
information, you have the right to withdraw your consent at any time. Please note however that this will not affect the lawfulness of the processing before <br>
its withdrawal, nor will it affect the processing of your personal information conducted in reliance on lawful processing grounds other than consent. If you <br>
are a resident in the European Economic Area and you believe we are unlawfully processing your personal information, you also have the right to complain to <br>
your local data protection supervisory authority. You can find their contact <br>
details here: http://ec.europa.eu/justice/data-protection/bodies/authorities/index_en.htm. <br>
If you are a resident in Switzerland, the contact details for the data protection authorities are <br>
available here: https://www.edoeb.admin.ch/edoeb/en/home.html. <br>
If you have questions or comments about your privacy rights, you may email us at info@GBBD. <p>

3. Your Business Logins and Varifications. To access certain portions and features of the Websites, including the portions where the Services are offered,<br> 
we require you to register and select a business name and password. Some personal data is collected during the registration process. We may then ask for <br>
additional information, including personally identifiable and non-personally identifiable information. When you make a purchase on GBBD, when you subscribe <br>
to the Services, and/or when you enter a contest or other promotion, we may ask you for certain personal information such as your name, address, e-mail <br>
address, or credit card number, in order to process your order, manage your subscription, administer the contest, or send you promotional e-mails. Providing<br> 
personal information in these instances is solely your choice; you do not need to provide such information, make purchases, or enter such contests to browse <br>
our Websites as a Visitor. You can remove your e-mail address from our e-mail list at any time by following the procedures set forth to opt out proceduces <br>
(see business contracts/deals in section 12) or by clicking on the “unsubscribe” link in every e-mail from GBBD. In addition, you can modify your information<br> 
or change your preferences, as set forth in Section 10 below (“Reviewing or Changing Your Information”). Information obtained through the Websites and/or the <br>
Services may be intermingled with and used in conjunction with information obtained through sources other than our Websites, including both offline and online <br>
sources.<p>

4. How We Share Your Information. GBBD may share your personal information: (i) with GBBD’s parent, affiliates, subsidiaries, or successors<br> 
(collectively the “GBBD Parties”), or with third parties who are under obligations of confidentiality with any of the GBBD Parties, (ii) if a <br>
GBBD Party is required by law to do so, (iii) in the event of a transfer of ownership of a GBBD Party, merger or other similar transaction, <br>
or (iv) as otherwise set forth in this Privacy Policy. The following describes some of the ways that your personal information may be disclosed <br>
to third parties: Information Collected By the Websites. We collect two types of information from users of the Websites: personal information<br> 
described below; and non-personal information such as information about traffic patterns on the Websites.<br>
We may employ third parties to perform services or functions on our behalf in order to improve our Websites, merchandising, marketing and promotional efforts, <br>
communications or other services. Those third parties may include authorized contractors, consultants and other companies working with us. They only have access<br> 
to personal information needed to perform their functions, and they may not share any personal information with others or use it for any other purpose than <br>
providing or improving GBBD’s services and offerings. We may share your information with third parties whom we believe have information of interest to you. In<br> 
addition, we may share certain non-personal information with third parties for advertising, promotional and other purposes. For example, we may work with third<br> 
party advertising companies, to serve and track our ads. These third parties may install other cookies. Our advertising partners may use the non-personal <br>
information they collect from our Websites, in the aggregate, to help us better market and serve our customers. This Privacy Policy applies only to the Websites <br>
and the Services and does not address the practices of third parties who may collect your personal information. You may visit other websites, through links on the <br>
Websites, which may collect, use and share your personal information in accordance with their own privacy policies. The information practices of those linked <br>
websites are not covered by this Privacy Policy, and we encourage you to be very cautious before you disclose your personal information to others. In order to <br>
provide you with the information, products or services which you have requested, we may share or transfer your personal information with our parent, affiliates <br>
or subsidiaries, or third party agents acting on their behalf.<p>

5. API'S, Google Maps, Geolocation Data, and Identifiers. Identifiers: “Identifiers” covers a broad range of information, including things like name, email address,<br> 
billing address, and IP address. We collect personal information that falls into this category. For example, for subscribers we have an email address and payment <br>
information (such as a credit card). We collect IP addresses when you connect to our service online. These sorts of identifiers are connected to your GBBD account. <br>
There are also identifiers we use for purposes like advertising (third party advertising cookies on our website) that we do not associate with your account, but that<br> 
can be used to reach you with promotional messages on other websites and applications.<p>
GBBD utilizes Google Analytics for aggregated, anonymized website traffic analysis. In order to track your GBBD session usage, GBBD places a Google Analytics <br>
cookie (ga) with a randomly-generated ClientID in your browser. This ID is anonymized and contains no identifiable information such as email, phone number, <br>
name, etc. GBBD uses Google Analytics to track aggregated website behavior, such as what pages you looked at, for how long, etc. This information is important <br>
for improving the GBBD user experience and determining GBBD’s site effectiveness. If you wish to remove Google Analytics from your site experience, you can <br>
install the Google Analytics Opt-Out Browser Add-On.<br>
Internet or other electronic network activity information: Our service is an online service, so we collect CCPA personal information in this category, such as your<br> 
interactions and activities within our service.<p>

Geolocation Data: Our streaming application does not collect precise geolocation data from GPS sensors. However, we do collect IP addresses so we can determine your general<br> 
location in order to give you a better first interaction with our service.<br>
Inferences: We have a recommendation system that tries to help return you custom titles based on what we feel you will like most.<br>
Uses of CCPA personal information. We use categories of CCPA personal information listed above for the purposes improving your experience when interacting with the online<br> 
service. This use is noted below:<br>
We use personal information to provide, analyze, administer, enhance and personalize our services and marketing efforts, to process your registration, your recurring payments,<br> 
and to communicate with you on these and other topics. For example, we use such information to:<br>
determine your general geographic location, provide localized content, provide you with customized and personalized viewing recommendations for titles and shows we think will<br> 
be of interest to you;<br>
to coordinate with Partners around making the GBBD service available to members and providing information to non-members about the availability of the GBBD service, based on<br> 
the specific relationship you have with the Partner;<br>
prevent, detect and investigate potentially prohibited or illegal activities, including fraud, and to enforce our terms (such as determining free trial eligibility);<br>
analyze and understand our audience, improve our service (including our user interface experiences) and optimize content selection, recommendation algorithms and delivery;<br>
communicate with you concerning our service so that we can send you news about GBBD, details about new features and content available on GBBD, special offers, promotional <br>
announcements, consumer surveys, and to assist you with operational requests such as password reset requests. These communications may be by various methods, such as email,<br> 
push notifications and online messaging channels.<p>

6. Cookies and Other Technological Tracking. Certain features on the Websites and/or the Services utilize cookie technology. A cookie is a small data file that certain <br>
web sites write to your hard drive when you visit them. A cookie file can contain various types of information, including a user ID that the site uses to track the pages <br>
you’ve visited. We may use cookies to enhance your experience on our Websites, to determine user traffic patterns and for other purposes.<br>
Most browsers are initially set up to accept cookies; however, you can reset your browser to refuse all cookies or indicate when a cookie is being sent or<br> 
you can flush your browser of cookies from time to time. (Note: you may need to consult the help area of your browser application for instructions.) If you <br>
choose to disable your cookies setting or refuse to accept a cookie, however, you may not be able to access all areas of the Websites and/or the Services.<br>
We also use cookies to improve the performance of our advertising on other websites. Although you may not opt out of receiving online advertisements <br>
generally, you may control the collection of data on our site used for targeted (GBBD).com advertising during your visits to other websites.<p>

7. Discussions and Community Tools. The Websites and the Services may make chat rooms, forums, bulletin boards, news groups and other community tools <br>
available to Registered Business Users and/or Visitors. Please remember that any information that is disclosed in these areas becomes public information for <br>
other users to view and for GBBD to use. Please do not disclose any personally identifiable information, including without limitation your full name <br>
or e-mail address, in these publicly accessible areas of the Websites or the Services. Please be considerate and respectful of others while using any <br>
chat rooms, forums or message boards to share your opinion.<p>

8. Privacy Precaution Warning. Please note that no data transmission over the Internet is 100% secure. As a result, we cannot guarantee the security of the <br>
information that you transmit via our online services.<p>

Your Consent. By using the Websites and/or the Services, and by providing your personal information to us, you also authorize the storage, use and export of your <br>
personal information as specified herein.<p>

9. How We Protect Your Information. Providing a secure site is essential for your peace of mind and trust in GBBD. We have installed encryption software conforming <br>
to the Secure Socket Layers (SSL) protocol to safeguard all of the commerce related (i.e. credit card and billing address) information you send to us. All information <br>
is stored on servers in a secure location. It is important for you to protect against unauthorized access to your password and to your computer. If your password <br>
is compromised, notify Customer Service at once at info@GBBD.com<p>

10. Children’s Online Privacy Protection Policy. The Websites and the Services are not intended for or directed to users under the age of 18, and we do not knowingly <br>
or intentionally collect personally identifiable information from children under the age of 13 or other minors. Where appropriate, we take reasonable measures to <br>
determine that our users are adults of legal age and to inform minors not to submit such information to the Websites or the Services or in response to advertisements.<br> 
If you are concerned that personal information may have been inadvertently provided to or collected by GBBD, please contact us immediately at info@GBBD.us so that we <br>
may appropriate steps to remove such information from our database. (Including Children’s Online Privacy Protection Policy<br>
The following Privacy Policy (“Privacy Policy”) governs your use of the Websites and the Services, which are owned by GBBD, LLC. (“GBBD”).<p>

11. California Consumer Privacy Act (CCPA) Privacy Notice. This Privacy Notice applies to California consumers and is a supplement of the GBBD Privacy Statement.<br>
Personal Information Collected. We collect information that identifies, relates to, describes, or could reasonably be linked, directly or indirectly, with a <br>
particular consumer or household (“CCPA personal information”). We have collected the following categories of CCPA personal information from consumers within <br>
the last twelve (12) months:<p>

12. Opt Out Procedures. You have the option to opt out of receiving information from GBBD, the Websites and the Services. This opt out messaging will appear at <br>
the bottom of every promotional email that is sent out. If you no longer wish to take advantage of the Websites or the Services or receive any form of direct <br>
contact from GBBD, whether it is email, discounts, newsletters, or other promotional offers or materials, contact us at: info@GBBD.com.<br>
Reviewing or Changing Your Information. In order to ensure that the information we maintain is accurate, we give users the option to change or modify their<br> 
information previously provided during registration. If you would like to change your information currently in our database please log in and click the <br>
“My Account” link on the various Websites or email us at info@GBBD.com.<br>
The GBBD Parties may be obligated to cooperate with various law enforcement inquiries. Each GBBD Party reserves the right to disclose or transfer personal <br>
information and non-personal information about you and your activities on our Websites in order to comply with a legal requirement or request from law enforcement<br> 
or other government officials, administrative agencies or third parties as we, in our sole discretion, determine necessary or appropriate for the administration <br>
of justice, or in connection with an investigation of fraud, intellectual property infringements or violations of any other law, rule or regulation, our Terms of <br>
Use or other rules or policies of our Websites, the rights of third parties, or an investigation of any other activity that may expose us or you to legal liability, <br>
or to investigate any suspected conduct which GBBD in its sole discretion deems improper.<p>

To make requests, or if you have a question regarding our privacy practices, please contact our Privacy Office at privacy@GBBD.com.<p>

#Applicable Law. The headquarters of GBBD is located in the State of California, U.S.A. This Privacy Policy and our legal obligations are subject to the laws of<br> 
#California and the U.S.A., regardless of the location of any user. Any claims or complaints must be filed a court of competent jurisdiction in the State of California,<br> 
#U.S.A.
<br>
    <%=form_with model: @user, url:wizard_path, method: :put do |f|%>
<%= f.submit "Accepts Terms and Contitions"%>
<%end%>

